body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

 /*exit Butten*/
 .back-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #000000;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #ccc;
}
  
  header {
    background-color: #f1f1f1;
    padding: 20px;
  }
  
  main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
  }
  
  h1, h2 {
    color: #333;
  }
  
  h1{
    text-align: center;
  }
  section {
    margin-bottom: 20px;
  }
  
  ol, ul {
    margin: 0;
    padding: 0 0 0 20px;
  }
  
  footer {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
  }
  