<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="icon" href="T islam logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/resources/css/settings.css">
</head>
<body>
    <footer>
        <div class="icons">
            <a href="/"><i class="fas fa-home"></i></a>
            <a href="/Contact"><i class="fas fa-calendar"></i></a>
            <a href="/Settings"><i class="fas fa-cog"></i></a>
            <a href="customer support"><i class="fas fa-question-circle"></i></a>
            <a href="/login" id="logoutButton"><i class="fas fa-sign-out-alt"></i></a>
        </div>
    </footer>

    <main>      
        <section class="help-section">
          <a href="/help"><h2 class="section-title">Help</h2></a>
        </section>

        <section class="help-section">
            <a href="/moreinfo"><h2 class="section-title">More info</h2></a>
          </section>
      </main>

      <!--Add more-->
    
    
</body>
</html>
