/* app.css */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}

/* Footer Styles */
footer {
  background-color: #000000;
  padding: 10px;
  text-align: center;
}

.icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icons a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 10px;
  font-size: 24px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.zoom-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.sidebar {
  width: 300px;
  background-color: #f7f7f7;
  padding: 20px;
  color: #333;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.search-input {
  flex-grow: 1;
  padding: 10px;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  color: #333;
  background-color: #ebebeb;
}

.search-icon {
  color: #999;
  margin-left: 10px;
  cursor: pointer;
}

.contact-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-item.active {
  background-color: #f5f5f5;
}

.contact-image {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 15px;
}

.contact-details {
  flex-grow: 1;
}

.contact-name {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.contact-id {
  font-size: 12px;
  color: #999;
}

.message-content {
  font-size: 14px;
  color: #777;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.chat-window {
  flex-grow: 1;
  background-color: #f7f7f7;
  padding: 20px;
  border-left: 1px solid #ebebeb;
  overflow-y: auto;
}

.chat-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.chat-image {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 15px;
}

.chat-header-details {
  flex-grow: 1;
}

.chat-name {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.chat-id {
  font-size: 12px;
  color: #777;
}

.chat-messages {
  margin-bottom: 20px;
}

.message {
  margin-bottom: 10px;
}

.message-sender {
font-size: 12px;
color: #999;
margin-bottom: 5px;
}

.message-content {
font-size: 14px;
color: #333;
}

.chat-input {
display: flex;
align-items: center;
}

.message-input {
flex-grow: 1;
padding: 10px;
border: none;
border-radius: 20px;
font-size: 14px;
color: #333;
background-color: #ebebeb;
outline: none;
}

.send-button {
background-color: #007bff;
color: #fff;
border: none;
padding: 10px;
margin-left: 10px;
border-radius: 50%;
cursor: pointer;
transition: background-color 0.3s ease;
}

.send-button:hover {
background-color: #0056b3;
}
