/* General Styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Footer Styles */
footer {
  background-color: #000000;
  padding: 10px;
  text-align: center;
}

.icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icons a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 10px;
  font-size: 24px;
}


/* CSS for the video container */
#video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);
  background-color: #ffffff;
  position: relative;
}

#local-video,
#remote-video {
  width: 48%;
  max-width: 600px;
  height: auto;
  border: 2px solid #0dd1d1;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 5px; /* Adjust the margin value as needed */
}

#video-container video {
  margin-bottom: 10px; /* Adjust the margin-bottom value as needed */
}


/* CSS for the buttons */
#join-button,
#leave-button,
#screen-share-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: #0d6efd;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

#join-button:hover,
#leave-button:hover,
#screen-share-button:hover {
  background-color: #0b5ed7;
}

/* CSS for the chat window */
#chat-window {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 20px;
  padding: 10px;
  font-size: 20px;
}

#chat-messages {
  height: 200px;
  overflow-y: scroll;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  
}

#chat-form {
  display: flex;
  align-items: center;
}

#chat-input {
  flex-grow: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-right: 10px;
  font-size: 20px;
}

#chat-input:focus {
  outline: none;
  border-color: #0d6efd;
}

#chat-form button {
  padding: 5px 10px;
  font-size: 14px;
  background-color: #0d6efd;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

#chat-form button:hover {
  background-color: #0b5ed7;
}



