/* General Styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  /* Footer Styles */
  footer {
    background-color: #000000;
    padding: 10px;
    text-align: center;
  }
  
  .icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .icons a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 24px;
  }
  
  /* Main Styles */
  main {
    padding: 20px;
    background-color: #f9f9f9;
  }
  
 /* Help Section Styles */
.help-section {
  margin-top: 30px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.help-section:hover {
  background-color: #f5f5f5;
}

.section-title {
  margin-top: 0;
  color: #333;
  animation: slideIn 1s forwards;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
